
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');


/* --------deafult Style-------- */
body{
    
    background: linear-gradient(180deg,black,rgba(0, 0, 0, 0.89),black,black,black,black 100%);
}
#master{

    font-family: Inter;
    width: 80%;
    margin: 5rem auto;
   
}




*{
    margin: 0;
}
/* ------------Navbar---------------- */


.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Inter;
}

.nav i{
    display: none;
   
}

.navbar h3{
    color: rgb(230, 83, 60);
    font-size:2.7rem ;
    font-style: italic;
    font-weight: 800;
    
}

.nav-data {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.242);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 5px 8px;
    padding-right: 25px;
    align-items: center;

}

.navbar .nav-data .home-bg {
    background-color: rgb(230, 83, 60);
    border: 2px solid rgb(230, 83, 60);
    box-sizing: border-box;
    border-radius: 25px;
    width: 100%;
    padding: 10px 20px; 
    margin: -3px -5px;
    font-weight: 400;
    
}

.navbar .nav-data .home-bg p{
    
    font-weight: 700;
    
}

.nav-data p{
    color:rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    
}

#master .landing-page{
    background-color: linear-gradient(180.00deg, rgba(103, 96, 96, 0.786),
    rgba(10, 10, 10, 0.001) 100%);
}

/* -----------------------Banner--------------- */



.landingpage-title-Image {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 50px;

}

.landingpage-title-Image .title-data span{
    
font-family: 'Miama', sans-serif;
font-weight: 400;
Font-size: 78px;
Letter-spacing: 0%;
font-style: italic;
line-height: 93.6px;
text-align: left;


}
.landingpage-title-Image h2{

font-size:5rem ;
font-weight: 800;
color: rgb(255, 255, 255);

}
.landingpage-title-Image p{

    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    line-height: 2rem;
    letter-spacing: 0.03rem;



}

.btn-lp{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 2rem;
    margin-top: 18px;

}

.btn-lp .btn1 .btn1-1{
    display: none;
}


.landingpage-title-Image .btn1,
.landingpage-title-Image .btn2{
   
    margin-top: 20px;
    
}
.landingpage-title-Image .btn1 button{
    
    border: 2px solid rgb(230, 83, 60);
    background-color: rgb(230, 83, 60);
    padding: 1rem 3rem;
    border-radius: 45px;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 600;
    justify-content: center;
   
}

.landingpage-title-Image .btn2 button{
    
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(0,0,0);
    border-radius: 45px;
    padding: 1rem 3rem;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 600;
    justify-content: center;
    
}

.landingpage-title-Image .lp-image img{
    margin-right:150px;
    margin-top: -30px;
}

.lp-card .lp-card1 h4{
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.8rem;
    margin-top: -25px;
    margin-left: 0.5rem;
    letter-spacing: 0.07rem;
    }


    .lp-card .lp-card1 p{
        margin-top: 5px;
        margin-left: 2.5rem;
        color: rgba(255, 255, 255, 0.65);
        font-size: 0.81rem;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: 0.08rem;
        
    }

   

.lp-card .lp-card2 h3{
    color: white;
    font-size: 2.2rem;
    font-weight: 900;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
    /* margin-top: 25px; */

    }

    .lp-card .lp-card2 p{
        margin-top:12px;
        color: rgba(255, 255, 255, 0.65);
        font-size: 0.81rem;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: 0.06rem;
        /* s */
        
    }
    


.lp-card .lp-card1{
    color: white;  
    box-sizing: border-box;
    border: 0.06rem solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;  
    backdrop-filter: blur(1.25rem);
    background: rgba(48, 48, 48, 0.54);
    width: 15%;
    padding: 18px 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

    position: relative;
    left:46rem;
    bottom: 10rem;
   
    }

    .landing-page .lp-card .lp-card2{
    color: white;  
    box-sizing: border-box;
    border: 0.06rem solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;
    backdrop-filter: blur(1.25rem);
    background: rgba(48, 48, 48, 0.54);
    width: 14%;
    padding: 18px ;
    text-align: start;
    justify-content: start;
    align-items: center;
    margin: 10px 0;

    position: relative;
    left: 68rem;
    bottom: 35rem;
    
    }






.lp-card .lp-card2 p,
.lp-card .lp-card1 p{
    font-size: 0.81rem;
}


.lp-card1 .red .circle{
        
    height: 26px;
    width: 26px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    display:flex;
    flex-direction: row;
    padding: 4px ;
   
    position: relative;
    left: 1.5rem;
    top:1.1rem ;

  
}




.landingpage-title-Image .lp-card .lp-card1{
display: flex;
flex-direction: row;
align-items: center;
}




/* --------Change Your Habits---------- */

.habit{
    color: white;
    margin-top: -100px;
    
}

.habit-title-p{
    text-align: center;
}

.habit-title-p h1{
color: rgb(255, 255, 255);
letter-spacing: 0.12rem;
font-size: 2.8rem;
font-weight: 900;
line-height: 120%;
}
.habit-title-p p{
color: rgba(255, 255, 255, 0.5);
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0.05rem;
text-align: center;
margin-top: 20px;

}

.habit-card{

    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 3rem;
    justify-content: space-between;
}

.habit-card img{
    border-radius: 50%;
    border: 5px solid rgba(88, 85, 85, 0.197);
    width: 220px;
    margin-bottom: 15px;
    
}
.habit-card h6{
font-size: 1.13rem;
font-weight: 600;
line-height: 120%;
}

.habit-card p{
color: rgba(255, 255, 255, 0.5);
font-size: 0.88rem;
font-weight: 400;
line-height: 1.13rem;
letter-spacing: 0.02rem;
text-align: center;
margin-top: 12px;

}

/* ---------------------Run Section---------------------- */


.run{
    width: 100%; 
    border-radius: 1.13rem;
    background: rgb(34, 34, 34);
    margin-top: 11rem;
}

.run-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    gap:3rem;
    
}
.run .run-data{
    color:white;
}
.run-btn{
    border: 2px solid rgb(230, 83, 60);
    background-color: rgb(230, 83, 60);
    padding: 12px 4.5rem;
    border-radius: 45px;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
   
}

.run-image img{
width: 70%;

border-radius: 1rem;
align-items: center;
margin-left: 12rem;
margin-top:5px;

Object-fit: none;
Object-position: 66% 32%;

}

.run-data{
    margin-left: 2rem;
    margin-top: 5rem;
}
.run-data h1{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    margin-top: -5rem;
    margin-bottom: 15px;
    
}

.run-data p{
color: rgba(255, 255, 255, 0.5);
font-size: 0.88rem;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0.02rem;
margin-bottom: 2.5rem;
}


/* ---------------------------BMI Calculator------------------------- */

 .bmi {
    color: rgb(255, 255, 255);
    font-family: Inter;
    margin-top: 5rem;
}

.bmi-title{
    text-align: center;
    
}

.bmi-title h1{
font-size: 3rem;
font-weight: 900;
line-height: 120%;
letter-spacing: 0.05rem;

}

.bmi-title p{
color: rgba(255, 255, 255, 0.5);
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0.02rem;
margin-top:1rem;

}

.bmi-calculation{
    background: rgb(34, 34, 34);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

table{
    border-collapse: collapse;
}
td,th{
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
}

.bmi-chart h2{
font-size: 1.75rem;
font-weight: 900;
line-height: 120%;
}

.bmi-chart thead{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}

.bmi-chart tbody{
color: rgba(255, 255, 255, 0.5);
font-size: 0.88rem;
font-weight: 400;
line-height: 120%;
}

.bmi-calc-title h2{
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 120%;
}
.bmi-calc-title p{
color: rgba(255, 255, 255, 0.5);
font-size: 0.88rem;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0.02rem;
}

.bmi-calc-form {
    display: grid;
    grid-template-columns: repeat(2fr,1);
    
}


.bmi-calc-form2 .one {
    width:23.8%;
}
.bmi-calc-form3 .two {
    width:48.1%;
}






/* ------------Meet Our team------------- */

.meeting{
    color:white;
    margin-top: 6rem;
    
}

.meeting-data h1{
color: rgb(255, 255, 255);
font-size: 3rem;
font-weight: 900;
line-height: 120%;
margin-bottom: 1.5rem;
}

.meeting-data p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    margin-bottom: 1.5rem;
    text-align: center;
    align-items: center;
}

.meeting-image{
    border-radius: 1.13rem;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    padding: 1.2rem 1.2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1.2rem;
    
    
}


.meeting-image .trainer img{
    width: 100%;
    height: 330px;
    border-radius: 1.1rem;
    background: linear-gradient(180deg,rgb(6, 1, 1) 100%);
    object-fit: cover;
    
}


.meeting-data h1{
    font-size: 3rem;
    font-weight: 900;
    line-height: 130%;
    letter-spacing: 0.09rem;
    text-align: center;
   
    
}

.meeting-data p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.05rem;
    text-align: center;
    margin-top: -10px;
}

.trainer{
    position: relative; 
    width: 100%;
}


.trainer .trainer-text {
    
    position: absolute; 
    bottom: 1.5rem; 
    left: 1rem;
    
   
    padding: 10px; 
    color: white; 
    text-align: start; 
}

.trainer-text h2{
    font-weight: 800;
    
}
.trainer-text p{
    color: rgba(170, 165, 165, 0.997);
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    margin-top: 5px;  
}

/* -------------Footer Section-------------- */

.footer{
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    

}

.footer-data{
    display: flex;
    flex-direction: row;
    padding:3rem 3rem;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.footer-fitness h3{
    color: rgb(230, 83, 60);
    font-size:2.9rem ;
    font-style: italic;
    font-weight: 800;
    font-family: Inter;
    margin-bottom: 1rem;
}
.footer-fitness p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.03rem;
    
    }

.get-started1 h2 , .get-started2 h2 {
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.5rem;
font-weight: 800;
line-height: 120%;
margin-bottom: 1rem;
letter-spacing: 0.05rem;

}


.get-started1 p , .get-started2 p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 230%;

}


.footer-line {
    width: 80%;
    border: 0.5px solid rgba(255, 255, 255, 0.2); 
    margin: 20px 10rem; 
   
}

.cpy-right p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 230%;
    text-align: center;
    padding: 1.8rem;
}



/* -----------------------Responsiveness for Mobile Device [Media Query]------------------ */

@media screen and (max-width: 575px){

    #master{
        font-family: Inter;
        width: 85%;
    }


    /* --------------Navbar-Fitness---------- */

    .navbar .nav-data{
        display: none;
    }
    .nav i{
        display: block;
        font-size: 1.7rem;
        text-align: end;
        margin-top: -1.8rem;
        color: white;
    }
    .navbar h3{
        font-size:2.3rem ;  
    }
    

    .landingpage-title-Image {
        
        flex-direction: column;

        }
    
 .landingpage-title-Image .title-data span{
   
Font-size: 2.5rem;
line-height: 1.8rem;
}

.landingpage-title-Image h2{
font-size:2.5rem ;
}

.landingpage-title-Image p{
    font-size: 0.9rem;
    line-height: 1.5rem;
    letter-spacing: 0.04rem;
}



.btn-lp{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 1rem;
    margin-top: 18px;

}


.landingpage-title-Image .btn1,
.landingpage-title-Image .btn2{
   
    margin-top: 20px;
    width: 85%;
}

.btn1 .btn1-0{
    display: none;
}


.landingpage-title-Image .btn1 .btn1-1{
    
    
    padding: 0.9rem 3rem;
    border-radius: 2.7rem;
    font-weight: 600;
    font-size: 1rem;
    display: block;
    text-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
   
}

.landingpage-title-Image .btn2 button{
    
    
    border-radius: 2.7rem;
    padding: 0.9rem 2rem;
    font-weight: 600;
    font-size: 1rem;
    text-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    
}

.landingpage-title-Image .lp-image img{
    
    margin-top: 30px;
}



.lp-card .lp-card1{
   
    width: 45%;
    padding: 15px 0;
    margin: 10px 0;

    position: relative;
    left:0.1rem;
    bottom: 18rem;
   
    }

    .landing-page .lp-card .lp-card2{
    
    width: 45%;              /*c*/
    padding: 15px ;
    margin: 10px 0;

    position: relative;
    left: 12rem;
    bottom: 41rem;
    
    }

    
.lp-card .lp-card2 p,
.lp-card .lp-card1 p{
    font-size: 0.5rem;
}

.lp-card .lp-card1 h4{
    color: white;
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 1.5rem;
    margin-top: -25px;
    margin-left: 1.2rem;
    letter-spacing: 0.07rem;
    }


    .lp-card .lp-card1 p{
        margin-top: 5px;
        margin-left: 3rem;
        color: rgba(255, 255, 255, 0.65);
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: 0.05rem;
        
    }

   

.lp-card .lp-card2 h3{
   
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1.2rem;
    letter-spacing: 0.1rem;
    /* margin-top: 25px; */

    }

    .lp-card .lp-card2 p{
        margin-top:12px;
        
        font-size: 0.73rem;
        font-weight: 400;
        line-height: 1.25rem;
        letter-spacing: 0.05rem;
       
        
        
    }

    .landingpage-title-Image .lp-image img{
        margin-right:45px;
        
    }

    /* -------------Change Your Habits---------- */


    
    
    .habit-card{
        
        flex-direction: column;
        gap:2.5rem;
       
    }

/* ----------------------Run----------------------- */

.run-div{
    flex-direction: column;
}

.run-image img{
    
        width: 100%;
        
        border-radius: 1rem;
        align-items: center;
        margin-left: 0;
        margin-top:5px ;
        margin-top: -10px;
       
        
        Object-fit: none;
        Object-position: none;
        object-fit: cover;
        
    
    }

    .run-data h1{
        font-size: 2rem;
       
    }

    .run-div{
       
        padding: 1.5rem 1.5rem;
       
        
    }

    .run-data{
        margin-left: 0px;
       
    }


    .run-btn{
        padding: 0.9rem 7.4rem;
        margin-top: -10px;
    }




    /* -----------------Trainer Section------------- */

    .meeting-image{
        display: flex;
        flex-direction: column;
        border-radius: 1.13rem;
        width: 90%;
        gap:1.5rem;
        margin-top: 3rem;
        
        
    }

    .meeting-data p{
        line-height: 1.5rem;
        letter-spacing: 0.05rem;
       
    }
    

/* ----------------Footer------------*/

.footer-data{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 75%;
}

.footer-line {
    width: 75%;
    border: 0.5px solid rgba(255, 255, 255, 0.2); 
    margin: 20px 10rem; 
    position: relative;
    right: 7rem;
   
}



}