@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

/* --------deafult Style-------- */
body{
    
    background: linear-gradient(180deg,black,rgba(0, 0, 0, 0.875),black,black,black 100%);
}
#master{

    font-family: Inter;
    width: 80%;
    margin: 5rem auto;
   
}




*{
    margin: 0;
}
/* ------------Navbar---------------- */


.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.navbar h3{
    color: rgb(230, 83, 60);
    font-size:2.7rem ;
    font-style: italic;
    font-weight: 800;
    
}

.nav-data {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.242);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 5px 8px;
    padding-right: 25px;
    align-items: center;

}

.navbar .nav-data .home-bg {
    background-color: rgb(230, 83, 60);
    border: 2px solid rgb(230, 83, 60);
    box-sizing: border-box;
    border-radius: 25px;
    width: 100%;
    padding: 10px 20px; 
    margin: -3px -5px;
    font-weight: 400;
    
}

.navbar .nav-data .home-bg p{
    
    font-weight: 700;
    
}

.nav-data p{
    color:rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    
}

#master .landing-page{
    background-color: linear-gradient(180.00deg, rgba(103, 96, 96, 0.786),
    rgba(10, 10, 10, 0.001) 100%);
}

/* -----------------------Banner--------------- */



.landingpage-title-Image {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 50px;

}

.landingpage-title-Image .title-data span{
    
font-family: 'Miama', sans-serif;
font-weight: 400;
Font-size: 78px;
Letter-spacing: 0%;
font-style: italic;
line-height: 93.6px;
text-align: left;


}
.landingpage-title-Image h2{

font-size:5rem ;
font-weight: 800;
color: rgb(255, 255, 255);

}
.landingpage-title-Image p{

    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;



}

.btn-lp{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 30px;
    margin-top: 18px;

}


.landingpage-title-Image .btn1,
.landingpage-title-Image .btn2{
   
    margin-top: 20px;
    
}
.landingpage-title-Image .btn1 button{
    
    border: 2px solid rgb(230, 83, 60);
    background-color: rgb(230, 83, 60);
    padding: 10px 30px;
    border-radius: 45px;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
   
}

.landingpage-title-Image .btn2 button{
    
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(0,0,0);
    border-radius: 45px;
    padding: 10px 30px;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    
}

.landingpage-title-Image .lp-image img{
    margin-right:150px;
    margin-top: -30px;
}

.lp-card .lp-card1 h4{
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.8rem;
    margin-top: -25px;
    margin-left: 15px;
    letter-spacing: 0.07rem;
    }

   

.lp-card .lp-card2 h3{
    color: white;
    font-size: 2.2rem;
    font-weight: 900;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
    /* margin-top: 25px; */

    }



.lp-card .lp-card1{
    color: white;  
    box-sizing: border-box;
    border: 0.06rem solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;  
    backdrop-filter: blur(1.25rem);
    background: rgba(48, 48, 48, 0.54);
    width: 13%;
    padding: 18px 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

    position: relative;
    left:48rem;
    bottom: 10rem;
   
    }

    .landing-page .lp-card .lp-card2{
    color: white;  
    box-sizing: border-box;
    border: 0.06rem solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;
    backdrop-filter: blur(1.25rem);
    background: rgba(48, 48, 48, 0.54);
    width: 14%;
    padding: 18px ;
    text-align: start;
    justify-content: start;
    align-items: center;
    margin: 10px 0;

    position: relative;
    left: 67rem;
    bottom: 35rem;
    
    }






.lp-card .lp-card2 p,
.lp-card .lp-card1 p{
    font-size: 0.81rem;
}


.lp-card1 .red .circle{
        
    height: 26px;
    width: 26px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    display:flex;
    flex-direction: row;
    padding: 3px ;
    position: relative;
    left: 18px;
    top:15px ;

  
}

.landingpage-title-Image .lp-card .lp-card1{
display: flex;
flex-direction: row;
align-items: center;
}

.lp-card .lp-card2 p{
    margin-top:8px;
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.81rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.06rem;
    /* s */
    
}

.lp-card .lp-card1 p{
    margin-top: 5px;
    margin-left: 45px;
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.81rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.08rem;
    
}

/* --------Change Your Habits---------- */

.habit{
    color: white;
    margin-top: -100px;
    
}

.habit-title-p{
    text-align: center;
}

.habit-title-p h1{
color: rgb(255, 255, 255);
letter-spacing: 0.12rem;
font-size: 2.8rem;
font-weight: 900;
line-height: 120%;
}
.habit-title-p p{
color: rgba(255, 255, 255, 0.5);
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0.05rem;
text-align: center;
margin-top: 20px;

}

.habit-card{

    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 100px;
    justify-content: space-between;
}

.habit-card img{
    border-radius: 50%;
    border: 5px solid rgba(88, 85, 85, 0.197);
    width: 220px;
    margin-bottom: 15px;
    
}
.habit-card h6{
font-size: 1.13rem;
font-weight: 600;
line-height: 120%;
}

.habit-card p{
color: rgba(255, 255, 255, 0.5);
font-size: 0.88rem;
font-weight: 400;
line-height: 1.13rem;
letter-spacing: 0.02rem;
text-align: center;
margin-top: 10px;


}